/* .home {
  height: 100%;
  width: 100%;
  display: grid;
  grid: 1fr 64px / 1fr 1fr 64px;
}

.home__content {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 200px;
  transition: margin-left 0.3s;
}

.home__title {
  font-size: 12rem;
  font-family: Pacifico, sans-serif;
  line-height: 1.1;
  transition: font-size 0.3s;
}

.home__about {
  line-height: 1.5;
  transition: font-size 0.3s;
}

.home__space {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
  align-self: center;
  padding: var(--padding-md);
  width: 80%;
  height: 80%;
  overflow: visible;
}

.home__contact {
  grid-area: 1 / 3 / 4 / 4;
  justify-self: center;
  align-self: center;
  display: grid;
  place-items: center;
}

.home__contact svg {
  margin: var(--padding-sm) 0;
  height: 32px;
  width: 32px;
  fill: var(--accent-color);
}

.home__skills {
  grid-area: 2 / 1 / 4 / 3;
  justify-self: center;
  align-self: center;
}

.home__skills svg {
  margin: 0 var(--padding-sm);
  height: 32px;
  width: 32px;
  transition: height 0.3s, width 0.3s;
} */
