<article id="projects"
         class="projects page">
    <section id="reciptory"
             class="showcase">
        <img class="showcase__image"
             src="../../assets/images/reciptory.webp"
             height="100%"
             width="100%"
             alt="Reciptory project profile image" />
        <div class="showcase__info">
            <header class="showcase__header">
                <h2 class="showcase__title">reciptory</h2>
            </header>
            <p class="showcase__description">
                Reciptory is a native mobile app and PWA.
                <br />
                Instagram for recipes + inventory management.
                <br />
                Front-end developed with Ionic Framework on top of Angular.
                <br />
                Back-end developed with NestJS Framework and MongoDB.
            </p>
            <div class="showcase__links">
                <a class="showcase__link"
                   href="https://github.com/MarcosNASA/reciptory-frontend"
                   target="_blank"
                   rel="noreferrer"
                   aria-label="Reciptory's GitHub repository"
                   tabindex="0">
                    <svg role="img"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <title>GitHub icon</title>
                        <path
                              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                    </svg>
                </a>
                <a class="showcase__link"
                   href="https://reciptory.firebaseapp.com"
                   target="_blank"
                   rel="noreferrer"
                   aria-label="Reciptory site"
                   tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 102.18 83.89">
                        <title>Reciptory logo</title>
                        <polygon class="cls-1"
                                 points="61.49 73.46 51.98 82.96 51.54 83.42 51.09 83.89 50.65 83.42 50.21 82.96 40.7 73.46 61.49 73.46" />
                        <path class="cls-1"
                              d="M76.05,6.77a23.16,23.16,0,0,0-25-5.12,23.17,23.17,0,0,0-25,5.12L0,32.84,21.91,54.71l.06.06H80.22l22-21.93ZM39.59,45.27H25.9L13.45,32.84l19.4-19.36a13.69,13.69,0,0,1,8-3.88,23.11,23.11,0,0,0,2.41,29.85l1.06,1ZM52.16,32.72h0l-1.06,1.06L50,32.73a13.6,13.6,0,0,1,0-19.24c.35-.33.69-.64,1.07-1a13.91,13.91,0,0,1,1.06.94,13.6,13.6,0,0,1,0,19.24ZM76.28,45.27H62.6L57.82,40.5l1.07-1.07A23.13,23.13,0,0,0,61.29,9.6a13.66,13.66,0,0,1,8,3.88l19.4,19.36Z" />
                        <polygon class="cls-1"
                                 points="75.61 59.36 66.09 68.86 36.09 68.86 26.58 59.36 75.61 59.36" />
                    </svg>
                </a>
            </div>
        </div>
    </section>
    <section id="js-scope-visualizer"
             class="showcase">
        <img class="showcase__image"
             src="../../assets/images/js-scope-visualizer.webp"
             height="100%"
             width="100%"
             alt="JS Scope Visualizer project image"
             loading="lazy" />
        <div class="showcase__info">
            <header class="showcase__header">
                <h2 class="showcase__title">js scope visualizer</h2>
            </header>
            <p class="showcase__description">
                JS Scope Visualizer is the first of the «3 pilars project» inspired by
                Kyle Simpson.
                <br />
                It allows the users to visualize JS scopes as colored bubbles.
                <br />
                The main purpose of this project is helping new JS students to
                understand the scoping system and is intended for small snippets;
                however, it should be able to handle any script.
            </p>
            <div class="showcase__links">
                <a class="showcase__link"
                   href="https://github.com/MarcosNASA/js-scope-visualizer-app"
                   target="_blank"
                   rel="noreferrer"
                   aria-label="JS Scope Visualizer's GitHub repository"
                   tabindex="0">
                    <svg role="img"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <title>GitHub icon</title>
                        <path
                              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                    </svg>
                </a>
                <a class="showcase__link"
                   href="https://js-scope-visualizer.firebaseapp.com/"
                   target="_blank"
                   rel="noreferrer"
                   aria-label="JS Scope Visualizer site"
                   tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 63 63">
                        <title>Marcos NASA G logo</title>
                        <polygon
                                 points="28.79 46.09 28.79 22.33 13.08 38.04 34.21 59.17 30.38 63 5.42 38.04 9.25 34.21 30.38 13.08 34.21 16.91 34.21 40.67 49.92 24.96 28.79 3.83 32.62 0 57.58 24.96 32.62 49.92 28.79 46.09" />
                    </svg>
                </a>
            </div>
        </div>
    </section>
    <section id="chipzset"
             class="showcase">
        <img class="showcase__image"
             src="../../assets/images/chipzset.webp"
             height="100%"
             width="100%"
             alt="MNG Kanban project image"
             loading="lazy" />
        <div class="showcase__info">
            <header class="showcase__header">
                <h2 class="showcase__title">chipzset</h2>
            </header>
            <p class="showcase__description">
                Chipzset is a web app for showcasing mng-kanban, a custom kanban board component for Angular
                applications.
                <br>
                Built with Angular.
            </p>
            <div class="showcase__links">
                <a class="showcase__link"
                   href="https://github.com/MarcosNASA/mng-kanban"
                   target="_blank"
                   rel="noreferrer"
                   aria-label="MNG-Kanban's Github repository"
                   tabindex="0">
                    <svg role="img"
                         viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg">
                        <title>GitHub icon</title>
                        <path
                              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                    </svg>
                </a>
                <a class="showcase__link"
                   href="https://chipzset.web.app/"
                   target="_blank"
                   rel="noreferrer"
                   aria-label="Chipzset's site"
                   tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 63 63">
                        <title>Marcos NASA G logo</title>
                        <polygon
                                 points="28.79 46.09 28.79 22.33 13.08 38.04 34.21 59.17 30.38 63 5.42 38.04 9.25 34.21 30.38 13.08 34.21 16.91 34.21 40.67 49.92 24.96 28.79 3.83 32.62 0 57.58 24.96 32.62 49.92 28.79 46.09" />
                    </svg>
                </a>
            </div>
        </div>
    </section>
</article>